include LICENSE
include README.md
include requirements.txt
recursive-include debtops *.css
recursive-include debtops *.csv
recursive-include debtops *.html
recursive-include debtops *.ico
recursive-include debtops *.js
recursive-include debtops *.json
recursive-include debtops *.md
recursive-include debtops *.png
recursive-include debtops *.py
recursive-include debtops *.svg
recursive-include debtops *.txt
recursive-exclude debtops *.pyc

